.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container h1 {
  font-size: 16px;
  max-width: 800px;
}

.container h2 {
  font-size: 16px;
}

.container small {
  display: block;
}

.container > div {
  width: 100%;
}

.content {
  width: 100%;
  padding: 20px;
  min-height: calc(100vh - 117px - 57px - 40px);
}

.content b {
  color: var(--purple-color);
}

.content p {
  margin-bottom: 5px;
  margin-top: 5px;
  max-width: 800px;
}

@media (min-width: 981px) {
  .container {
    min-height: calc(100vh - 54px - 60px - 40px);
    flex-direction: row;
  }
}
