.container {
  padding: 0 20px;
  border-bottom: 1px solid var(--lines-color);
  display: none;
}

.container p {
  font-size: 12px;
}

.content {
  align-items: center;
  display: flex;
  padding: 12px 0 12px 0;
}

.content button {
  height: 13px;
  border: 0;
  background-color: transparent;
  color: var(--grey-blue-color);
  cursor: pointer;
}

@media (min-width: 981px) {
  .container {
    display: flex;
  }

  .content {
    border-right: 1px solid var(--lines-color);
    padding: 12px 12px 12px 0;
  }

  .content button {
    margin-left: 20px;
  }
}
