.container {
  width: 100%;
  padding: 0 14px;
  border-bottom: 1px solid var(--lines-color);
  display: none;
}

.container p {
  font-size: 12px;
}

.content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 12px 0 12px 0;
  width: 100%;
}

.content button {
  height: 13px;
  border: 0;
  background-color: transparent;
  color: var(--grey-blue-color);
  cursor: pointer;
}

@media (min-width: 981px) {
  .container {
    display: block;
  }

  .content {
    max-width: 200px;
    border-right: 1px solid var(--lines-color);
    padding: 12px 20px 12px 0;
  }
}
