.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 18px;
}

.content h1,
.content p small {
  color: var(--white-color);
}

.content h2 {
  color: var(--green-color);
  margin-bottom: 20px;
}

.content p {
  position: relative;
  font-size: 15px;
  margin-bottom: 5px;
}

.content div {
  position: relative;
}

.content div:first-child::before {
  content: "";
  position: absolute;
  left: 0;
  top: -100px;
  background-color: var(--green-color);
  width: 255.65px;
  height: 277.05px;
  opacity: 0.2;
  filter: blur(87px);
  transform: rotate(-94.3deg);
}

.content div:first-child::after {
  content: "";
  position: absolute;
  right: 50px;
  bottom: -100px;
  background-color: var(--purple-color);
  width: 255.65px;
  height: 277.05px;
  opacity: 0.2;
  filter: blur(87px);
  transform: rotate(-94.3deg);
}

@media (min-width: 981px) {
  .content h2 {
    color: var(--purple-color);
  }
}
